
.container
{
    /* border: 1px solid red; */

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 2rem  120px;
    
}

.noPost
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.boxButton
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}